<!-- Name - Ashwin Anand
Student Id - 152042206 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="icon" href="https://mpng.subpng.com/20180629/ytb/kisspng-computer-icons-clip-art-web-globe-5b35d0b6693359.5423001015302534944309.jpg">
        <title>Hosting Plans | Web Hosting Services</title>
    </head>
<style>
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@400;600&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,600&display=swap');
    .image-container{
        position: relative;
        color:white;
    }
    .centered{
        position:absolute;
        top:50%;
        left:20%;
       
    }
    .image-header{
        font-size:30px;
        font-family:sans-serif;
        font-weight: bolder;
        margin:0;
    }
    .image-body{
        font-size:18px;
    }
    #plans{
        background-color: #ecebe7;;
    }
    .plan{
        background-color: white;
        padding-top: 45px;
        padding-bottom: 40px;
        border:solid #ecebe7 10px;
    }
    input[type]:focus {   
        border-color: red;
        box-shadow: 0px 0px;
        outline: 0 none;
    }
    .nav-link:hover{
        color:red !important;
    }
    .pre-footer{
        background: #464868;
    }
    .prefooter-list{
        list-style-type: none;
        padding-bottom: 20px;
    }
    .prefooter-ref-header{
        color:white;
        font-size:20px;
    }
    .prefooter-ref-link{
        color:grey;
    }
    .prefooter-ref-link:hover{
        color:grey;
    }
    .footer{
        color:white;
    }
    .text-center{
        padding: 40px;
    }
    .price{
        color:red;
        font-size: 30px;
        font-weight: bold;
    }
</style>
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://mpng.subpng.com/20180629/ytb/kisspng-computer-icons-clip-art-web-globe-5b35d0b6693359.5423001015302534944309.jpg" alt="" width="50" height="54" class="d-inline-block">
            Web Hosting Services
            
        </a>
        
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" target="new" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/hosting-plans" target="new">Hosting Plans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/becoming_member" target="new">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" target="new">Login</a>
                </li>
            </ul>
        </div> 
    </div>
    
</nav>
<body>
    <div class="image-container">
        
            <img class="img-responsive d-block mx-auto img-fluid w-100" style="max-height: 430px; padding-top: 20px;" src="https://media.istockphoto.com/photos/late-nights-and-dedicated-staff-picture-id1130687040?b=1&k=20&m=1130687040&s=170667a&w=0&h=w_iPyYus0XW66q6uBxFPyQfMdcsQN2qgdoGtVMO0EFk=" style="margin-top: 30px;" />
            <div class="centered">
                <p class="image-header">
                Web Hosting Services
                </p>
                <p class="image-body">Take your project online today with our reliable,  <br>
                    secure and fastest hosting platforms</p>
                <a href ="#plans" class="btn btn-primary">Compare Plans Now!</a>
            </div>
    </div>
    <div id="plans" class="container-fluid">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 plan">
                    <i class="fas fa-bicycle" style="color:red; font-size:35px;"></i>
                    <h2>Starter</h2>
                    Affordable plan, and great for beginners to start with.
                    <a href="/plan_beginner" class="btn btn-lg btn-primary" style="margin-top:70px; width:100%">Click to view plan details</a>
                </div>
                <div class="col-md-4 plan">
                    <i class="fas fa-rocket" style="color:red; font-size:35px;"></i>
                    <h2>Pro</h2>
                    Better performance, premium features, unlimited websites, free domain and more!
                    <a href="/plan_pro" class="btn btn-lg btn-primary" style="margin-top:70px; width:100%">Click to view plan details</a>
                </div>
                <div class="col-md-4 plan">
                    <i class="fas fa-building" style="color:red; font-size:35px;"></i>
                    <h2>Enterprise</h2>
                    Best performance for demanding websites, dedicated IP, and much more!
                    <a href="/plan_enterprise" class="btn btn-lg btn-primary" style="margin-top:70px; width:100%">Click to view plan details</a>
                </div>
            </div>
                <a href="/viewAllPlans" class="btn btn-lg btn-outline-danger" style="margin-top: 20px;">View All Available Plans</a>
        </div>
    </div>
    <div class="container-fluid" style="text-align:center; background-color: rgb(224, 26, 26);" >
        <div class="row" style="padding-bottom: 50px;">
            <div class="col-sm-12 col-md-6 h3"  style="padding-top: 80px; margin-bottom: 30px; color:whitesmoke;">
                    Get Started with web hosting today
             </div>
             <div class="col-sm-12 col-md-6">
                <a href="#plans" class="btn btn-lg btn-outline-light" style="margin-top: 80px;">Compare Web Hosting Plans!</a>
            </div>
        </div>
    </div>
    <div class="container-fluid pre-footer">
        <div class="row">
            <div class="col-12 text-center h3" style="color:white; font-family:Arial, Helvetica, sans-serif; padding-top: 20px; padding-bottom: 20px">
                Sources Used
            </div>
            <div class="col-md-3 col-sm-12">
                <ul class="prefooter-list">
                    <li class="prefooter-ref-header">Bootstrap</li>
                    <li><a class="prefooter-ref-link" href="https://getbootstrap.com/">For responsiveness</a></li>
                    <li><a class="prefooter-ref-link" href="https://getbootstrap.com/docs/4.0/components/navbar/">For Navigation bar</a></li>
                    <li><a class="prefooter-ref-link" href="https://getbootstrap.com/docs/4.0/layout/grid/">For Layout</a></li>
                    <li><a class="prefooter-ref-link" href="https://getbootstrap.com/docs/4.0/components/buttons/">For buttons</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12">
                <ul class="prefooter-list">
                    <li class="prefooter-ref-header">Images</li>
                    <li><a class="prefooter-ref-link" href="https://mpng.subpng.com/20180629/ytb/kisspng-computer-icons-clip-art-web-globe-5b35d0b6693359.5423001015302534944309.jpg">Website icon</a></li>
                    <li><a class="prefooter-ref-link" href="https://media.istockphoto.com/photos/late-nights-and-dedicated-staff-picture-id1130687040?b=1&k=20&m=1130687040&s=170667a&w=0&h=w_iPyYus0XW66q6uBxFPyQfMdcsQN2qgdoGtVMO0EFk=">For hero section</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12">
                <ul class="prefooter-list">
                    <li class="prefooter-ref-header">Font Awesome</li>
                    <li><a class="prefooter-ref-link" href="https://fontawesome.com/">Content section icons</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12">
                <ul class="prefooter-list">
                    <li class="prefooter-ref-header">Google Fonts</li>
                    <li><a class="prefooter-ref-link" href="https://fonts.google.com/">For fonts</a></li>
                </ul>
            </div>
            
        </div>

    </div>
    <div class="container-fluid bg-dark footer">
        <div class="row">
            <div class="col-md-3 offset-md-2 col-sm-12" style="padding-top: 15px;">
                <p><i class="fas fa-copyright"></i>&nbsp 2022 Web Hosting Services</p>
            </div>
            <div style="padding-top: 15px;">
                This website is made solely for the purpose of the college assignment.
            </div>
        </div>
    </div>

</body>
</html>