<!-- Name - Ashwin Anand
Student Id - 152042206 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
</head>
<body style="text-align: center; margin-top: 300px;">
    <h1>Page Not Found</h1>
    <ul style="list-style-type: none;">
        <li>
            <a href="/">Go back to home page</a>
        </li>
    </ul>
</body>
</html>